In [1]:
for num in range(1, 11):
    print(num)
    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list(range(1, 11)))

1
2
3
4
5
6
7
8
9
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
total = 0
list1 = [11, 5, 17, 18, 23]
for ele in range(0, len(list1)):
	total = total + list1[ele]
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [3]:
def reverse(s):
	str = ""
	for i in s:
		str = i + str
	return str

s = "Geeksforgeeks"

print("The original string is : ", end="")
print(s)

print("The reversed string(using loops) is : ", end="")
print(reverse(s))

The original string is : Geeksforgeeks
The reversed string(using loops) is : skeegrofskeeG

In [4]:
num = 7
factorial = 1
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 7 is 5040

In [5]:
num = 12
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [6]:
list1 = [10, 21, 4, 45, 66, 93, 1]

even_count, odd_count = 0, 0
for num in list1:
	if num % 2 == 0:
		even_count += 1
	else:
		odd_count += 1
print("Even numbers in the list: ", even_count)
print("Odd numbers in the list: ", odd_count)

Even numbers in the list:  3
Odd numbers in the list:  4

In [8]:
def squaresum(n):
	sm = 0
	for i in range(1, n+1):
		sm = sm + (i * i)
	return sm
n = 5
print(squaresum(n))

55

In [10]:
def findLength(string):
	count = 0
	for i in string:
		count += 1
	return count
string = "Pwskills"
print(findLength(string))

8

In [11]:
def Average(lst):
	return sum(lst) / len(lst)
lst = [15, 9, 55, 41, 35, 20, 62, 49]
average = Average(lst)
print("Average of the list =", round(average, 2))

Average of the list = 35.75

In [13]:
nterms = int(input("How many terms? "))
n1, n2 = 0, 1
count = 0
if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

How many terms?  5

Fibonacci sequence:
0
1
1
2
3

In [1]:
def Repeat(x):
	_size = len(x)
	repeated = []
	for i in range(_size):
		k = i + 1
		for j in range(k, _size):
			if x[i] == x[j] and x[i] not in repeated:
				repeated.append(x[i])
	return repeated
list1 = [10, 20, 30, 20, 20, 30, 40,
		50, -20, 60, 60, -20, -20]
print (Repeat(list1))

[20, 30, -20, 60]

In [3]:
lower = 0
upper = 5

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 0 and 5 are:
2
3
5

In [4]:
string = "Pwskills!"
vowels = "aeiouAEIOU"

count = sum(string.count(vowel) for vowel in vowels)
print(count)

1

In [5]:
def prod(lis):
	maxi = 0
	for x in lis:
		p = 1
		for i in x:
			p *= i
			maxi = max(p, maxi)
	return maxi
l = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(prod(l))

504

In [6]:
def remove_items(test_list, item):
	res = [i for i in test_list if i != item]
	return res
if __name__ == "__main__":
	test_list = [1, 3, 4, 6, 5, 1]
	item = 1
	print("The original list is : " + str(test_list))
	res = remove_items(test_list, item)
	print("The list after performing the remove operation is : " + str(res))

The original list is : [1, 3, 4, 6, 5, 1]
The list after performing the remove operation is : [3, 4, 6, 5]

In [8]:
num = 5
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [9]:
celsius = 37.5
fahrenheit = (celsius * 1.8) + 32
print('%0.1f degree Celsius is equal to %0.1f degree Fahrenheit' %(celsius,fahrenheit))

37.5 degree Celsius is equal to 99.5 degree Fahrenheit

In [10]:
def common_member(a, b):
	a_set = set(a)
	b_set = set(b)
	if (a_set & b_set):
		print(a_set & b_set)
	else:
		print("No common elements")
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
common_member(a, b)

a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9]
common_member(a, b)

{5}
No common elements

In [11]:
rows = int(input("Please Enter the Total Number of Rows  : "))
ch = input("Please Enter any Character  : ")

print("Right Angled Triangle Star Pattern") 
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print('%c' %ch, end = '  ')
    print()

Please Enter the Total Number of Rows  :  5
Please Enter any Character  :  5

Right Angled Triangle Star Pattern
5
5  5
5  5  5
5  5  5  5
5  5  5  5  5

In [12]:
import math
print("The gcd of 60 and 48 is : ", end="")
print(math.gcd(60, 48))

The gcd of 60 and 48 is : 12

In [1]:
test_list = [12, 67, 98, 34]
print("The original list is : " + str(test_list))
res = []
for ele in test_list:
	sum = 0
	for digit in str(ele):
		sum += int(digit)
	res.append(sum)
print ("List Integer Summation : " + str(res))

The original list is : [12, 67, 98, 34]
List Integer Summation : [3, 13, 17, 7]

In [9]:
def palindromeNumbers(list_a):

	c = 0
	for i in list_a:
		t = i
		rev = 0
		while t > 0:
			rev = rev * 10 + t % 10
			t = t // 10
		if rev == i:
			print(i)
			c = c + 1
	print()
	print("Total palindrome nos. are", c)
	print()
def main():

	list_a = [10, 121, 133, 155, 141, 252]
	palindromeNumbers(list_a)

	list_b = [111, 220, 784, 565, 498, 787, 363]
	palindromeNumbers(list_b)
if __name__ == "__main__":
	main()

121
141
252

Total palindrome nos. are 3

111
565
787
363

Total palindrome nos. are 4

In [10]:
my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = [num for sublist in my_list for num in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

In [11]:
test_list = [345, 893, 1948, 34, 2346]
print("The original list is : " + str(test_list))
odd_sum = 0
even_sum = 0
for sub in test_list:
	for ele in str(sub):
		if int(ele) % 2 == 0:
			even_sum += int(ele)
		else:
			odd_sum += int(ele)
print("Odd digit sum : " + str(odd_sum))
print("Even digit sum : " + str(even_sum))

The original list is : [345, 893, 1948, 34, 2346]
Odd digit sum : 36
Even digit sum : 40

In [12]:
data=[1,2,3,4,5,6,7]
result = [i*i for i in data if i%2!=0]
print(result)

[1, 9, 25, 49]

In [13]:
index = [1, 2, 3]
languages = ['python', 'c', 'c++']

dictionary = dict(zip(index, languages))
print(dictionary)

{1: 'python', 2: 'c', 3: 'c++'}

In [14]:
test_list = ["all", "love", "and", "get", "educated", "by", "gfg"]
print("The original list is : " + str(test_list))
res = []
vow = "aeiou"
for sub in test_list:
	flag = False
	for ele in vow:
		if sub.startswith(ele):
			flag = True
			break
	if flag:
		res.append(sub)
print("The extracted words : " + str(res))

The original list is : ['all', 'love', 'and', 'get', 'educated', 'by', 'gfg']
The extracted words : ['all', 'and', 'educated']

In [18]:
import re


def remove(list):
	pattern = '[0-9]'
	list = [re.sub(pattern, '', i) for i in list]
	return list

# Driver code


list = ['p', 'pwskills', 'w', 'skills']
print(remove(list))

['p', 'pwskills', 'w', 'skills']

In [19]:
def SieveOfEratosthenes(num):
	prime = [True for i in range(num+1)]
	p = 2
	while (p * p <= num):
		if (prime[p] == True):
			for i in range(p * p, num+1, p):
				prime[i] = False
		p += 1

	for p in range(2, num+1):
		if prime[p]:
			print(p)
if __name__ == '__main__':
	num = 30
	print("Following are the prime numbers smaller"),
	print("than or equal to", num)
	SieveOfEratosthenes(num)

Following are the prime numbers smaller
than or equal to 30
2
3
5
7
11
13
17
19
23
29

In [20]:
def pythagoreanTriplets(limits) :
	c, m = 0, 2
	while c < limits :
		for n in range(1, m) :
			a = m * m - n * n
			b = 2 * m * n
			c = m * m + n * n
			if c > limits :
				break

			print(a, b, c)

		m = m + 1
if __name__ == '__main__' :
	
	limit = 20
	pythagoreanTriplets(limit)

3 4 5
8 6 10
5 12 13
15 8 17
12 16 20

In [23]:
from math import factorial
n = 5
for i in range(n):
	for j in range(n-i+1):
		print(end=" ")
	for j in range(i+1):
		print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")
	print()

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

In [24]:
test_list = [12, 67, 98, 34]
print("The original list is : " + str(test_list))
res = []
for ele in test_list:
	sum = 0
	for digit in str(ele):
		sum += int(digit)
	res.append(sum)
print ("List Integer Summation : " + str(res))

The original list is : [12, 67, 98, 34]
List Integer Summation : [3, 13, 17, 7]

In [25]:
def longestLength(a):
	max1 = len(a[0])
	temp = a[0]
	for i in a:
		if(len(i) > max1):

			max1 = len(i)
			temp = i

	print("The word with the longest length is:", temp,
		" and length is ", max1)
a = ["one", "two", "third", "four"]
longestLength(a)

The word with the longest length is: third  and length is  5

In [26]:
test_list = ["gfg", "best", "for", "geeks"]

print("The original list is : " + str(test_list))

res = ""
max_len = 0

for ele in test_list:
	vow_len = len([el for el in ele if el in ['a', 'e', 'o', 'u', 'i']])
	
	if vow_len > max_len:
		max_len = vow_len
		res = ele
print("Maximum vowels word : " + str(res))

The original list is : ['gfg', 'best', 'for', 'geeks']
Maximum vowels word : geeks

In [27]:
test_list = [12, 67, 98, 34]
print("The original list is : " + str(test_list))
res = []
for ele in test_list:
	sum = 0
	for digit in str(ele):
		sum += int(digit)
	res.append(sum)
print ("List Integer Summation : " + str(res))

The original list is : [12, 67, 98, 34]
List Integer Summation : [3, 13, 17, 7]

In [28]:
def palindromeNumbers(list_a):
	c = 0
	for i in list_a:
		t = i
		rev = 0
		while t > 0:
			rev = rev * 10 + t % 10
			t = t // 10
		if rev == i:
			print(i)
			c = c + 1
	print()
	print("Total palindrome nos. are", c)
	print()
def main():
	list_a = [10, 121, 133, 155, 141, 252]
	palindromeNumbers(list_a)
	list_b = [111, 220, 784, 565, 498, 787, 363]
	palindromeNumbers(list_b)

if __name__ == "__main__":
	main()

121
141
252

Total palindrome nos. are 3

111
565
787
363

Total palindrome nos. are 4

In [1]:
import operator
lst = [0, 4, 1, 6, 8]
sum = 0
i = 0
while i < len(lst):
	sum = sum+operator.add(0, lst[i])
	i = i+1
print('The sum of elements in the given list is:', sum)

The sum of elements in the given list is: 19

In [3]:
import math
def primeFactors(n):
	while n % 2 == 0:
		print(2)
		n = n // 2
	for i in range(3,int(math.sqrt(n))+1,2):
		while n % i== 0:
			print(i)
			n = n // i
	if n > 2:
		print(n)
n = 315
primeFactors(n)

3
3
5
7

In [5]:
def palindromeNumbers(list_a):
	c = 0
	for i in list_a:
		t = i
		rev = 0
		while t > 0:
			rev = rev * 10 + t % 10
			t = t // 10
		if rev == i:
			print(i)
			c = c + 1
	print()
	print("Total palindrome nos. are", c)
	print()
def main():
	list_a = [10, 121, 133, 155, 141, 252]
	palindromeNumbers(list_a)

	list_b = [111, 220, 784, 565, 498, 787, 363]
	palindromeNumbers(list_b)
if __name__ == "__main__":
	main()

121
141
252

Total palindrome nos. are 3

111
565
787
363

Total palindrome nos. are 4

In [6]:
test_list = [345, 893, 1948, 34, 2346]
print("The original list is : " + str(test_list))
odd_sum = 0
even_sum = 0
for sub in test_list:
	for ele in str(sub):
		if int(ele) % 2 == 0:
			even_sum += int(ele)
		else:
			odd_sum += int(ele)
print("Odd digit sum : " + str(odd_sum))
print("Even digit sum : " + str(even_sum))

The original list is : [345, 893, 1948, 34, 2346]
Odd digit sum : 36
Even digit sum : 40

In [7]:
index = [1, 2, 3]
languages = ['python', 'c', 'c++']

dictionary = dict(zip(index, languages))
print(dictionary)

{1: 'python', 2: 'c', 3: 'c++'}

In [8]:
test_list = ["all", "love", "and", "get", "educated", "by", "gfg"]
print("The original list is : " + str(test_list))

res = []
vow = "aeiou"
for sub in test_list:
	flag = False
	for ele in vow:
		if sub.startswith(ele):
			flag = True
			break
	if flag:
		res.append(sub)
print("The extracted words : " + str(res))

The original list is : ['all', 'love', 'and', 'get', 'educated', 'by', 'gfg']
The extracted words : ['all', 'and', 'educated']

In [10]:
import re
def remove(list):
	pattern = '[0-9]'
	list = [re.sub(pattern, '', i) for i in list]
	return list
list = ["p","w","skills"]
print(remove(list))

['p', 'w', 'skills']

In [13]:
test_list = [12, 67, 98, 34]
print("The original list is : " + str(test_list))
res = []
for ele in test_list:
	sum = 0
	for digit in str(ele):
		sum += int(digit)
	res.append(sum)
print ("List Integer Summation : " + str(res))

The original list is : [12, 67, 98, 34]
List Integer Summation : [3, 13, 17, 7]

In [16]:
test_list = ["p","w","Skills"]
print("The original list is : " + str(test_list))
res = ""
max_len = 0
for ele in test_list:
	vow_len = len([el for el in ele if el in ['a', 'e', 'o', 'u', 'i']])
	
	if vow_len > max_len:
		max_len = vow_len
		res = ele
print("Maximum vowels word : " + str(res))

The original list is : ['p', 'w', 'Skills']
Maximum vowels word : Skills

In [17]:
test_list = [12, 67, 98, 34]
print("The original list is : " + str(test_list))
res = []
for ele in test_list:
	sum = 0
	for digit in str(ele):
		sum += int(digit)
	res.append(sum)
print ("List Integer Summation : " + str(res))

The original list is : [12, 67, 98, 34]
List Integer Summation : [3, 13, 17, 7]

In [18]:
def palindromeNumbers(list_a):
	c = 0
	for i in list_a:
		t = i
		rev = 0
		while t > 0:
			rev = rev * 10 + t % 10
			t = t // 10
		if rev == i:
			print(i)
			c = c + 1
	print()
	print("Total palindrome nos. are", c)
	print()
def main():
	list_a = [10, 121, 133, 155, 141, 252]
	palindromeNumbers(list_a)
	list_b = [111, 220, 784, 565, 498, 787, 363]
	palindromeNumbers(list_b)
if __name__ == "__main__":
	main()

121
141
252

Total palindrome nos. are 3

111
565
787
363

Total palindrome nos. are 4